<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--    <title>Member-List</title>-->
    <title>Article List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<h1>U+ blog server test</h1>
<div class="container">
    <div class="card">
        <div class="card-header"><h1>게시판</h1></div>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th class="col-md-1">#</th>
            <th class="col-md-5">제목</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item:${article}">
            <td th:text="${item.getId()}"></td>
            <td><a th:href="@{/article/{id}(id=${item.getId()})}" th:text="${item.getArticleTitle()}"></a></td>
        </tr>
        </tbody>
    </table>
    <a href="/new-article">
        <button type="button" id="create-btn" class="btn btn-primary">등록</button>
    </a>
</div>

</body>
</html>