name: Java CI with Gradle

on:
  push:
    branches: [ main ]


jobs:
  build:

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'temurin'
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build with Gradle
        run: ./gradlew build -x test
      - name: Docker build
        run: |
          docker login -u ${{ secrets.DOCKER_HUB_USERNAME }} -p ${{ secrets.DOCKER_HUB_PASSWORD }}
          docker build -t blog_cidc_test .
          docker tag blog_cidc_test hosi153/blog_cidc_test:${GITHUB_SHA::7}
          docker push hosi153/blog_cidc_test:${GITHUB_SHA::7}
      - name: Deploy
        uses: appleboy/ssh-action@master
        with:
          host: ec2-54-86-164-156.compute-1.amazonaws.com
          username: ubuntu
          key: ${{ secrets.KEY }}
          envs: GITHUB_SHA
          script: |
            docker pull hosi153/blog_cidc_test:${GITHUB_SHA::7}
            docker tag hosi153/blog_cidc_test:${GITHUB_SHA::7} blog_cidc_test
            docker stop blog
            docker rm -f blog
            docker run -d --name blog -p 8080:8080 blog_cidc_test

